body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-footer {
    background-color:#f5f5f5;
    margin-top: auto;
    margin-bottom: 0px;
}

#borderLeft {
    position: absolute;
    height: 90%;
    width: 1px;
    border-left: 2px solid #ccccccd2;
    right: 0px;
}

.ref-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
}