.about-me-pic {
    width: 174px;
    height: 250px;
}

@media only screen 
  and (max-width: 415px) {
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-me-pic {
        margin-right: auto;
        margin-left: auto;
    }
    .about-me-contact {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen 
  and (min-width: 416px) {
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .about-me-pic {
        margin-right: 2vw;
        margin-left: initial;
    }

    .quot-1{
        align-self: center;
    }
}


.about-me-contact {
    flex-shrink: 1;
    display: flex;
}