.about-me-pic {
    width: 174px;
    height: 250px;
}


.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen 
  and (max-device-width: 415px) {
    .about-me-pic {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen 
  and (min-device-width: 416px) {
    .about-me-pic {
        margin-right: 2vw;
        margin-left: unset;
    }

    .about-container {
        flex-wrap: nowrap;
    }
}


.about-me-contact{
    flex-shrink: 1;
}